@import '~antd/dist/antd.css';
.back-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}
.back-cont {
  margin-top: -100px;
  border:  1px solid #ddd;
  padding: 32px 64px;
  /* text-align: center; */
  width: 400px;
}
.back-h {
  text-align: center;
}
.back-btn {
  width: 100%;
  margin-top: 24px !important;
}
.total-p {
  text-align: center;
}

.total-p p {
  display: inline-block;
  margin-left: 24px;
}